.sg-control-group .sg-control-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 0.30357rem 0;
  vertical-align: top;
  width: 17.14286rem; }

.sg-control-group .sg-control {
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 0 !important; }
